.wrapper {
  width: 100%;
  background-color: #fff;

  & .container {
    width: 100%;
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  & .fix {
    padding-top: 3rem !important;
    padding-bottom: 1.67rem !important;
  }

  & .step {
    position: relative;
    list-style: none;
  }

  & .stepItem {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-bottom: 2.25rem;
  }

  & .stepContentWrapper {
    position: relative;
    display: flex;

    width: 100%;
    align-items: center;
  }

  & .stepIcon {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    margin-right: 1rem;
    color: rgba(133, 126, 126, 0.281);
    background-color: #bfbfbf52;
  }

  & .step .active .step-icon {
    color: #fff;
    background-color: #008060;
  }

  & .step-content {
    flex: 1;
  }

  & .stepTitle {
    margin: 0 !important;
  }

  & .contentSpace2 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  & .pbTwo {
    padding-bottom: 1rem;
  }
}

.customField {
  margin-top: 15px;
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.inputStyle {
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 400px;
  outline: none;
}

.customField .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3 ease, font-size 0.3 ease, color 0.3 ease;
}

.customField {
  & input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;

    &:valid,
    &:focus {
      border: 2px solid #222;
      transition-delay: 0.1s;

      & + .placeholder {
        top: 7px;
        background: #fff;
      }
    }

    & + .placeholder {
      top: 28px;
      padding: 0 5px;
    }
  }
}
